/* space-mono-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/space-mono-v12-latin-regular.woff') format('woff');
  }
  /* space-mono-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/space-mono-v12-latin-700.woff') format('woff'); 
  }
  /* lexend-deca-regular - latin */
@font-face {
     font-display: swap; 
     font-family: 'Lexend Deca';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
          url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'); 
   }
   /* lexend-deca-700 - latin */
   @font-face {
     font-display: swap; 
     font-family: 'Lexend Deca';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/lexend-deca-v17-latin-700.woff2') format('woff2'), 
          url('../fonts/lexend-deca-v17-latin-700.woff') format('woff');
   }