.footer {
  background: #333a44;

  &_container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: 59px;
    align-items: center;
    gap: 32px;

    &-link {
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      color: $dimgrey;
    }
    &-link:hover {
      color: $yellow;
    }
  }

  &__social {
    margin-left: auto;
    margin-right: 0;
    gap: 24px;
  }

  @media only screen and (max-width: 1024px) {
  }

  @media only screen and (max-width: 768px) {
    &_container {
      padding-top: 60px;
      padding-bottom: 90px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__link {
      margin-bottom: 40px;
    }

    &__menu {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 85px;
    }

    &__social {
      margin-left: auto;
      margin-right: auto;
      gap: 24px;
    }
  }
}
